<h2 mat-dialog-title>Página do Produto</h2>
<br>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="produto.nome" name="nome" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Preço</mat-label>
      <input matInput type="number" [(ngModel)]="produto.preco" name="preco" required />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
</mat-dialog-actions>